#info {
    font-size: 20px;
    text-align: center;
    color: #777;
    /* visibility: hidden; */
	display:none;
  }
  
  #start_button{
	display: inline-block;
	margin-right:20px;
    height: 28px;
    width: 32px;
    overflow: hidden;
  }
  
  #start_img{
	width: 32px;
    height: 25px;
    padding-right: 13px;
  }