body{
  height: 110vh;
  font-family: 'Roboto', sans-serif;
}

header{
  margin: 0 auto;
}

.banner{
  height: 97%;
  background:url(../images/chatbot_icon_blog_header.png)no-repeat center 0px;
  background-size:cover;
  position: relative;
}

@media (min-width:700px){
	#leRight{
		padding-left:10.5%;
		padding-right:0%;
	}
}

@media (max-width:700px){
	#leRight{
		/* position:absolute; */
		width:100%;
		height:100%;
		z-index:100;
		padding-left:20px;
	}
}

@media (max-width:700px){
	#leLeft{
		position:absolute;
		width:100%;
		height:100%;
		z-index:101;
		padding-left:50px;
	}
}

@media (min-width:700px){
	#leLeft{
		padding-left:6.5%;
		padding-right:0%;
	}
}

.contentContainer{
  height: 100%;
}

.flex-direction-nav .flex-prev{
  left: 0;
  top: calc(50% + 50px);
}

.flex-direction-nav .flex-next{
  right: 0;
  top: calc(50% + 50px);
}

.flexslider{
  height: 100%;
  display:flex;
  align-items: center;
}

.flex-viewport{
  z-index: 3;
  color: white;
}

.flex-control-nav{
  bottom: 25px;
  z-index: 3;
}

.banner-w3lstext{
  bottom: 0px;
}

.overlay{
  height: calc(100% - 17px);
  position: absolute;
  width: calc(100% - 30px);
  background-color: black;
  z-index: 1;
  opacity: 0.5;
  padding: 15px;
  box-sizing: border-box;
}

.welcome,.team,.services,.about,.gallery,.codes,.contact{
  padding:5em 0;
  border-top: 5px solid #00ada6;
}

h3.w3ls-title {
    font-size: 3.5em;
    color: #c54a49;
    text-align: center;
    margin-bottom: 1.2em;
} 

.welcome-agile-row2{
  margin:2em 0 0;
} 

.welcome-grid-left{
  float:left;
  width:65%;
  text-align:right;
  margin: 1em 0 0;
}

.welcome-grid-left h4 {
    color: #00ada6;
    margin: 0;
    font-size: 1.5em;
    text-transform: capitalize;
}

.welcome-grid-left p{
  margin: 1em 0 0;
}

.welcome-grid-right{
  float:right;
  width:30%;
}

.agileinfo-welcm-grid{
  float:left !important;
  width:30% !important;
}

.agileinfo-welcm-grid2{
  float:right !important;
  width:65% !important;
  text-align:left !important;
} 

.welcome-grid-right { 
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%; 
}

.welcome-grid-right img.img-responsive {
    width: 100%;
    height: 100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; 
}

.welcome-grid:hover .welcome-grid-right {
  -webkit-box-shadow: 0px 0px 9px 1px #484848;
  -moz-box-shadow: 0px 0px 9px 1px #484848;
  -o-box-shadow: 0px 0px 9px 1px #484848;
  -ms-box-shadow: 0px 0px 9px 1px #484848;
  box-shadow: 0px 0px 9px 1px #484848; 
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
} 

@media (max-width:1280px){
  .welcome, .team, .services, .about,.gallery, .codes, .contact { 
    padding: 4em 0; 
}

@media(max-width:1024px){
  .welcome, .team, .services, .about,.gallery, .codes, .contact {
    padding: 3.5em 0;
  }
  h3.w3ls-title {
      font-size: 3.2em; 
      margin-bottom: 1em;
  }
  .welcome-grid-left { 
      margin: 0.6em 0 0;
  }
}

@media(max-width:991px){
  .welcome-grid-left {
      margin: 3em 0 0;
  }
}

@media(max-width:640px){
  .welcome, .team, .services, .about, .gallery, .codes, .contact {
    padding: 2.5em 0;
  }
  h3.w3ls-title {
    font-size: 2.8em;
    margin-bottom: 0.8em;
  }
  .welcome-grid-left {
      margin: 1.5em 0 0;
  }
  .welcome-agile-row2 {
      margin: 1.5em 0 0;
  }
}

@media(max-width:480px){
  .welcome, .team, .services, .about, .gallery, .codes, .contact {
    padding: 2em 0;
  }
  h3.w3ls-title {
      font-size: 2.5em; 
  }
  .welcome-grid-left h4 { 
      font-size: 1.3em; 
  }
  p {
      font-size: 0.9em; 
  }
  .welcome-grid {
      padding: 0;
  }
  .welcome-grid-left {
      margin: 0.5em 0 0;
  }
  .welcome-agile-row2 {
      margin: 0.5em 0 0;
  }
  .services-grid.services-text, .services-grid.services-text2, .services-grid.services-text3 {
      padding: 2em 2em;
  }
}

@media(max-width:414px){
  .welcome, .team, .services, .about, .gallery, .codes, .contact {
    padding: 1.6em 0;
  }
  h3.w3ls-title {
      font-size: 2.2em; 
  }
  .welcome-grid-left {
      margin: 0.8em 0 1.5em;
  }
  .welcome-grid-left,.agileinfo-welcm-grid2 {
      float: none !important;
      width: 100% !important;
      text-align: center !important;
  }
  .welcome-grid-right {
      float: none;
      width: 40vw;
	  height:40vw;
      margin: 0 auto;
  }
}

@media(max-width:700px){
	.welcome-grid-right img.img-responsive {
		width: 30vw;
		height: 30vw;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-o-border-radius: 50%;
		-ms-border-radius: 50%;
		border-radius: 50%; 
	}
}